In [1]:
3 >= 3

True

In [2]:
3 != 3

False

In [3]:
5 == 5 and 0 != 1

True

In [4]:
3 > 5 or 5 > 3

True

In [5]:
3 > 4 or 4 < 1

False

In [8]:
6 >= 5 or 4 == 4

True

In [9]:
not False

True

In [10]:
not 6 != 6

True

In [11]:
imie = input("Podaj imię: ")
print("Masz na imię", imie)
print("Typ zmiennej imie to", type (imie))

Podaj imię:  Kasia

Masz na imię Kasia
Typ zmiennej imie to <class 'str'>

In [13]:
liczba = input("Podaj liczbe: ")
kwadrat = float(liczba) ** 2
print("Twoja liczba do kwadratu to:", kwadrat)

Podaj liczbe:  2.23

Twoja liczba do kwadratu to: 4.9729

In [16]:
liczba = input ("Podaj liczbe:")
liczba = int(liczba)
if liczba % 2 == 0:
    print("twoja liczba jest parzysta")
else:
    print("liczba jest nieparzysta")

Podaj liczbe: 56789

liczba jest nieparzysta

In [18]:
a = 12
b = 2 
c = 5
if a > 10:
    b = 6
    c = 7
print(c)

7

In [23]:
liczba = input ("Podaj liczbe:")
liczba = int(liczba)
if liczba % 4 == 0:
    print("twoja liczba jest podzielna przez 4")
elif liczba % 2  == 0:
    print("liczba jest parzysta")
else:
    print("liczba jest nieparzysta")

Podaj liczbe: 98

liczba jest parzysta

In [24]:
ludzie = ["Magda", "Julia", "Ala", "Gosia", "Julia"]

In [25]:
ludzie

['Magda', 'Julia', 'Ala', 'Gosia', 'Julia']

In [26]:
ludzie.append("Gertruda")

In [27]:
ludzie

['Magda', 'Julia', 'Ala', 'Gosia', 'Julia', 'Gertruda']

In [28]:
len(ludzie)

6

In [29]:
lista = [1, 3, 6, 10]

In [30]:
lista

[1, 3, 6, 10]

In [31]:
sum(lista)

20

In [32]:
len(lista)

4

In [33]:
ludzie.insert(3, "Cyprian")

In [34]:
ludzie

['Magda', 'Julia', 'Ala', 'Cyprian', 'Gosia', 'Julia', 'Gertruda']

In [35]:
ludzie.pop(-1)

'Gertruda'

In [36]:
ludzie

['Magda', 'Julia', 'Ala', 'Cyprian', 'Gosia', 'Julia']

In [37]:
ludzie.append("Krzysiu")

In [38]:
ludzie

['Magda', 'Julia', 'Ala', 'Cyprian', 'Gosia', 'Julia', 'Krzysiu']

In [39]:
ludzie.pop("Krzysiu")

TypeError: 'str' object cannot be interpreted as an integer

In [42]:
ludzie.sort()

In [43]:
ludzie

['Ala', 'Cyprian', 'Gosia', 'Julia', 'Julia', 'Krzysiu', 'Magda']

In [44]:
pusta_lista = []
pusta_lista.append("jakieś wartości")